@media screen and (min-width:941px) and (max-width:1024px)
{
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    html{
        font-size:56%;
    }
    .background-image h1{
         position:absolute;
         top:200px;
         left:40px;
    }
    .background-image p{
        position:absolute;
        top:365px;
        left:200px;
        text-shadow:0.5px 0.5px 0.5px rgb(0, 0, 0);
        color:rgb(0, 0, 0);
    }

    /* ==================for reach============= */
    .message-wrapper{
        margin-top:35px;
    }
    .form form .holder {
        width:85%;
    }
}